*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 232, 22);
    background-image: url(../img/background.jpg);
    background-size: cover;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    width: 800px;
}

h1{
    margin-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 8, 0);
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 35px;
}

.box{
    background-color: rgba(219, 219, 219, 0.596);
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px;
    
}

.box img{
    width: 110px;
    height: 100px;
    border-radius: 10px;
}